%section.section
  .section__row.bg-grey
    %h1 Todas las publicaciones y/o noticias serán mostradas aqui...
  .section__row.publications__container.bg-grey
    %p.publications__header__container
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    .publications__body__container
      .card{"ng-repeat" => "publication in publications"}
        %a.card__container{"ui-sref" => "publications-show({publicationid: publication.id})"}
          .card__header
            %h2.publication__title
              {{ publication.title }}
            %span.publication__date
              3 days ago...
          .card__body
            %p
              %img.card__image{"src"=>"https://placekitten.com/200/200"}
              {{ publication.body }}
  %md-subheader.md-no-sticky
    %div{:layout => "row", :style => "display: table; overflow: hidden; margin-left: 400px;"}
      %div{:flex => "10"}
      %div{:flex => "40", :style => "display: table-cell; vertical-align: middle;"}
        Lista de publicaciones que aparecen en la app
      %div{:flex => "40"}
        %md-button.md-raised.md-primary{"ui-sref" => "publications-new"} Crear nueva publicacion
      %div{:flex => "10"}
  %md-list{:flex => "", "ng-cloak" => ""}
    %md-list-item{:layout => "row", "ng-repeat" => "publication in publications"}
      %div{:flex => "10"}
      %div{:flex => "60"}
        %md-button.md-primary.black{"ui-sref" => "publications-show({publicationid: publication.id})"} {{ publication.title }}
      %div{:flex => "10"}
        %md-button.md-raised{"ui-sref" => "publications-edit({publicationid: publication.id})"} Editar
      %div{:flex => "10"}
        %md-button.md-fab{"aria-label" => "Eat cake", "ng-click" => "destroy(publication, $event)"}
          X
      %div{:flex => "10"}
