%md-subheader.md-no-sticky
  %div{:layout => "row", :style => "display: table; overflow: hidden; margin-left: 400px;"}
    %div{:flex => "10"}
    %div{:flex => "40", :style => "display: table-cell; vertical-align: middle;"}
      Lista de guias y preguntas que aparecen en la app
    %div{:flex => "40"}
      %md-button.md-raised.md-primary{"ui-sref" => "questions-new"} Crear nueva guia
    %div{:flex => "10"}
%md-list{:flex => "", "ng-cloak" => ""}
  %md-list-item{:layout => "row", "ng-repeat" => "question in questions"}
    %div{:flex => "10"}
    %div{:flex => "60"}
      %md-button.md-primary.black{"ui-sref" => "questions-show({questionid: question.id})"} {{ question.title }}
    %div{:flex => "10"}
      %md-button.md-raised{"ui-sref" => "questions-edit({questionid: question.id})"} Editar
    %div{:flex => "10"}
      %md-button.md-fab{"aria-label" => "Eat cake", "ng-click" => "destroy(question, $event)"}
        X
    %div{:flex => "10"}
