.card {
  width: 30%;
  margin: 40px 0;
  transition: all 0.2s ease-in-out;
  .publication__title { color: $light-orange; }
  .answer__title { color: $yellow;}
  &:hover {
    box-shadow: 0 2px 20px #c5c5c5;
    transform: translateY(-20px);
    h2 { text-decoration: underline; }
  }
  &__container {
    display: block;
    height: calc(100% - 40px);
    padding: 20px;
    background-color: $white;
    p { padding: 0;}
    box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
    text-decoration: none;
    h2 {
      color: grey;
      font-weight: 300;
    }
    span {
      color: #b1a8a8;
      margin-bottom: 10px;
    }
    p { color: #8c8181; }
  }
  &__body {
    padding: 10px 0;
  }
  &__image {
    width: 120px;
    height: 100px;
    float: left;
    padding-right: 10px;
    border-radius: 5px;
  }
}
