.text {
  @include m(big) {
    font-size: 60px;
    letter-spacing: 10px;
    text-shadow: 0px 5px 20px black;
  }
  @include e(title) {
    margin-bottom: 0;
    font-family: $font-family--primary;
  }
  @include e(subtitle) {
    font-size: 20px;
    font-family: $font-family--secondary;
    text-shadow: 0px 0px 15px #393535;
  };
  @include e(slogan) {
    margin-left: 23%;
  };
}
.max-container {
  padding-top: 50px;
  width: 100%;
  overflow: hidden;
  background-color: $white;
}
.section {
  padding-bottom: 20px;
  @include e(intro) {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: calc(100vh - 50px);
    overflow: hidden;
    video {
      width: 100%;
    }
    h1 {
      top: 30%;
      color: $medium-blue;
      position: absolute;
    }
    p {
      position: absolute;
      font-size: 25px;
      color: white;
      font-weight: bold;
      top: 50%;
    }
  }
  @include e(row) {
    width: 100%;
    padding: 10px 0;
    z-index: 10;
    background: $white;
    &.bg-grey {
      background-color: rgb(252, 252, 252);
    }
    &--padded { padding: 30px; }
    p {
      padding: 0 30px;
      font-weight: 100;
      line-height: 25px;
    }
    h1 {
      font-weight: 400;
      &.padded { padding-top: 30px; }
    }
  };
  @include e(header) {
    height: 50px;
    font-size: $font-size--big;
    font-family: $font-family--primary;
  }
  .publication {
    &__container__header {
      margin: 20px 0 0 0;
      font-family: $font-family--primary;
      height: 28px;
      text-align: center;
      font-weight: 300;
      background-color: $medium-blue;
      color: $white;
      padding: 10px 0;
      h1 { margin: 0}
    }
    @include e(card) {
      display: block;
      padding: 20px;
      border: 2px solid #f0f0f0;
      border-radius: 4px;
      text-decoration: none;
      color: $black;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: all 0.2s linear;
      &:hover {
        color: $black;
        opacity: .8;
        border: 2px solid #f4f4f4;
        box-shadow: 0 2px 30px #928e8e;
        .publication__header {
          text-decoration: underline;
        }
      }
    };
    @include e(body){
      font-family: $font-family--secondary;
      line-height: 25px;
    };
    @include e('header') {
      margin: 0;
      font-family: $font-family--primary;
      text-align: center;
      font-weight: 300;
      background-color: $white;
      border-radius: 6px;
      color: $light-blue;
    };
  }
  .publications {
    &__header {
      &__container {

      }
    }
    &__body {
      &__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
      }
    }
  }
  .show-publication {
    box-sizing: border-box;
    padding: 10px 20px;
    h1 { padding-top: 30px; }
    img {
      opacity: 0.6;
      border-radius: 5px;
      margin-right: 20px;
      width: 300px;
      height: 300px;
      float: left;
    }
    p {
      line-height: 40px;
      letter-spacing: 1px;
    }
  }
}
