%md-subheader.md-no-sticky
  %div{:layout => "row", :style => "display: table; overflow: hidden; margin-left: 400px;"}
    %div{:flex => "10"}
    %div{:flex => "40", :style => "display: table-cell; vertical-align: middle;"}
      Vista detallada de la guia.
    %div{:flex => "40"}
      %md-button.md-raised.md-primary{"ui-sref" => "questions-index"} Regresar a lista de preguntas y guias
    %div{:flex => "10"}
%md-content.md-padding{:layout => "row", "layout-xs" => "column"}
  %div{:flex => "25"}
  %div{"flex-gt-xs" => "50", "flex-xs" => "", :layout => "column"}
    %md-card
      %md-card-title
        %md-card-title-text{"layout-align" => "center center"}
          %span.md-headline {{question.title}}
      %md-card-content
        %h3 Respuesta
        %p {{question.answer}}
  %div{:flex => "25"}
