/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .buttondemoBasicUsage section {
 	background: #f7f7f7;
 	border-radius: 3px;
 	text-align: center;
 	margin: 1em;
 	position: relative !important;
 	padding-bottom: 10px; 
 }
 .buttondemoBasicUsage md-content {
 	margin-right: 7px; 
 }
 .buttondemoBasicUsage section .md-button {
 	margin-top: 16px;
 	margin-bottom: 16px; 
 }
 .buttondemoBasicUsage .label {
 	position: absolute;
 	bottom: 5px;
 	left: 7px;
 	font-size: 14px;
 	opacity: 0.54; 
 }

 .form-padding{
 	padding: 20px 20px 20px 20px;
 }

 .black{
 	color: #000 !important;
 }
 p {
 	text-align: justify;
 	text-justify: inter-word;
 	display: inline-block;
 }