// base colors
$white : #fff;
$black : #000;
$grey : #797e83;

// principal colors
$light-red : #DE231E;
$light-orange : #e74c3c;
$yellow : #f1c40f;
$light-blue : #3498db;
$medium-blue: #2980b9;

//shadows
$light-grey: #dad6d6;
