%section.section.section__intro
  = video_tag('bg-video.mp4', controls: false, autoplay: true, poster: 'bg-slg.jpg', loop: true)
  %h1.text__title.text--big
    COMUNIDAD SAN LUISANA
  %p.text__subtitle.text__slogan
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
%section.section.publication
  .section__row.publication__container__header
    %h1
      %i.fa.fa-list-alt
      Últimas publicaciones
  .section__row.publication__header
    %ul.slider1
      %li
        %a.publication__card{"href"=>"#"}
          %h2.publication__header
            Publication 1
          %p.publication__body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
      %li
        %a.publication__card{"href"=>"#"}
          %h2.publication__header
            Publication 1
          %p.publication__body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
      %li
        %a.publication__card{"href"=>"#"}
          %h2.publication__header
            Publication 2
          %p.publication__body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
      %li
        %a.publication__card{"href"=>"#"}
          %h2.publication__header
            Publication 3
          %p.publication__body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
      %li
        %a.publication__card{"href"=>"#"}
          %h2.publication__header
            Publication 4
          %p.publication__body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
      %li
        %a.publication__card{"href"=>"#"}
          %h2.publication__header
            Publication 5
          %p.publication__body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
      %li
        %a.publication__card{"href"=>"#"}
          %h2.publication__header
            Publication 6
          %p.publication__body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
%section.section.guies
  .section__row.publication__container__header
    %h1
      %i.fa.fa-list-alt
      Guias
  .section__row.publication__container
    %ul.slider2
      %li
        %a.publication__card{"href"=>"#"}
          %h2.publication__header
            Guia 1
          %p.publication__body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
      %li
        %a.publication__card{"href"=>"#"}
          %h2.publication__header
            Guia 2
          %p.publication__body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
      %li
        %a.publication__card{"href"=>"#"}
          %h2.publication__header
            Guia 3
          %p.publication__body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
      %li
        %a.publication__card{"href"=>"#"}
          %h2.publication__header
            Guia 3
          %p.publication__body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
      %li
        %a.publication__card{"href"=>"#"}
          %h2.publication__header
            Guia 3
          %p.publication__body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
      %li
        %a.publication__card{"href"=>"#"}
          %h2.publication__header
            Guia 3
          %p.publication__body
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
