%section.section.section__intro
  %h1.text__title.text--big
    COMUNIDAD SAN LUISANA
  %p.text__subtitle.text__slogan
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
%section.section.publication
  .section__row
    %h1.section__header
      %i.fa.fa-list-alt
      Últimas publicaciones
  .section__row.publication__container
    %a.publication__card{"href"=>"#"}
      %h2.publication__header
        Publication 1
      %p.publication__body
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
    %a.publication__card{"href"=>"#"}
      %h2.publication__header
        Publication 2
      %p.publication__body
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
    %a.publication__card{"href"=>"#"}
      %h2.publication__header
        Publication 3
      %p.publication__body
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
%section.section.guies
  .section__row
    %h1.section__header
      %i.fa.fa-list-alt
      Guias
  .section__row.publication__container
    %a.publication__card{"href"=>"#"}
      %h2.publication__header
        Guia 1
      %p.publication__body
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
    %a.publication__card{"href"=>"#"}
      %h2.publication__header
        Guia 2
      %p.publication__body
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
    %a.publication__card{"href"=>"#"}
      %h2.publication__header
        Guia 3
      %p.publication__body
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, qu
