%section.section
  .section__row.show-publication
    %h1
      {{publication.title | uppercase}}
  .section__row.section__row--padded.show-publication
    %p
      %img{"src"=>"https://placekitten.com/600/500"}
      {{publication.body}}
