!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title ComuniappBackend
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
    / tag for angular material
    %link{:href => "http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css", :rel => "stylesheet"}/
    / end
  %body{"ng-app" => "comuniapp"}
    %header.menu
      .menu__column
        .menu__logo
          %a{"ui-sref" => "home"}
            = image_tag "logo.png"
      %nav.menu__column
        %ul
          %li.menu__link
            %a{"aria-label" => "Publicaciones", "ui-sref" => "publications-index"}
              Publicaciones
          %li.menu__link
            %a{"aria-label" => "Publicaciones", "ui-sref" => "questions-index"}
              Preguntas
    .max-container
      .main-view-container{"ui-view" => ""}
    %footer.footer
      .footer__icons
        %a.icon{"href"=>"www.facebook.com"}
          %i.fa.fa-facebook
        %a.icon{"href"=>"www.twitter.com"}
          %i.fa.fa-twitter
        %a.icon{"href"=>"www.google.com"}
          %i.fa.fa-google-plus
      .footer__text
        %p Copyright (c) 2016 Copyright Holder All Rights Reserved.
    %script{:src => "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"}
    %script{:src => "http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"}
