<!DOCTYPE html>
<html>
<head>
	<title>ComuniappBackend</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
	<!-- tag for angular material -->
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
	<!-- end -->
</head>
<body ng-app="comuniapp">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<span><a ui-sref="home">COMUNIDAD SAN LUISANA</a></span>
			<md-button ui-sref="publications-index" class="md-button" aria-label="Publicaciones">
				Publicaciones
			</md-button>
			<md-button ui-sref="questions-index" class="md-button" aria-label="Publicaciones">
				Preguntas
			</md-button>
		</div>
	</md-toolbar>

	<div class="main-view-container" ui-view></div>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
</body>
</html>
